
body {
  margin: 0;
  padding: 0;
}

.bg-rust {
  background-color: #cc4425; 
}

.bg-rust-light {
  background-color: #bb3d1f;
}

.texto-esq {
  font-family: 'Anton', sans-serif;
  font-size: 15vw;
  line-height: 1;
  color: #cc4425;
  letter-spacing: -5px;
transform: scaleY(3.5);
}
.tamanho{
height: 300px;

}